.list {
  display: flex;
  overflow-x: scroll;

  /* prevent accidentally going back or triggering other swipe events */
  overscroll-behavior: contain;

  /* hide scroll bar */
  scrollbar-width: none;
  -ms-overflow-style: none;

  /* momentum scroll on iOS */
  -webkit-overflow-scrolling: touch;

  /* disable vertical scroll for touch */
  touch-action: pan-x;

  /* scroll snapping */
  scroll-snap-type: x mandatory;
}

/* hide scroll bar */
.list::-webkit-scrollbar {
  display: none;
}

.item {
  height: 264px;
  width: 100%;
  flex-shrink: 0;

  /* scroll snapping */
  scroll-snap-align: start;
  scroll-snap-stop: always;
}

/* 
  The styling below is only for the decoration of this demo, 
  it has no impact on scrolling or scroll behavior
*/
.indicatorsList,
.list {
  list-style: none;
  padding: 0;
}

.list {
  border-radius: 4px;
}

.item {
  color: #ffffff00;
  display: flex;
  justify-content: center;
  align-items: center;
}

.item:nth-child(4n + 1) {
  background-image: url(/gallery/photo/1.jpg);
}
.item:nth-child(4n + 2) {
  background-image: url(/gallery/photo/2.jpg);
}
.item:nth-child(4n + 3) {
  background-image: url(/gallery/photo/3.jpg);
}
.item:nth-child(4n + 4) {
  background-image: url(/gallery/photo/4.jpg);
}

.indicatorsList {
  padding: 20px;
  display: flex;
  justify-content: center;
}

.indicator {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 0 2px 1px rgba(0, 0, 0, 1);
}

.indicator:not(:last-child) {
  margin-right: 16px;
}

.indicator.active {
  background-color: #323232;
}

.viewport {
  max-width: 420px;
  width: calc(100% - 20px);
  margin-left: 10px;
  margin-right: 10px;
}
